/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100vw;
  gap: 2rem;
  padding: 2rem 1rem;
}

@media screen and (min-width: 996px) {
  .contentWrapper {
    padding: 2rem;
  }
}
